// colors

// light-mode
$light-colors: (
  background-clr: #f5f8ff,
  main-clr: #fefefe,
  main-blue-clr: #066bdd,
  text-clr: #333,
  h-clr: #000000,
);
// dark-mode
$dark-colors: (
  background-clr: #141c2f,
  main-clr: #1f2a48,
  main-blue-clr: #066bdd,
  text-clr: #ffffffcc,
  h-clr: #ffffff,
);
